In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Latitude and longitude dictionary from Jordon:
latlondict = {}
latlondict["S77"] = [265026.82, 810500.68]
latlondict["FEBIN"] = [265733.697, 810409.649]
latlondict["FEBOUT"] = [265818.497, 810021.373]
latlondict["C44S80"] = [270641.88, 801705.93]
latlondict["S308C"] = [265905.61, 803717.14]
latlondict["CLV10A"] = [265457.881, 803728.785]
latlondict["EASTSHORE"] = [270247.662, 803908.15]
latlondict["KBARSE"] = [270456.085, 804848.277]
latlondict["KISSR0.0"] = [270828.683, 805045.601]
latlondict["L001"] = [270820.01, 804736.23]
latlondict["L004"] = [265839.662, 804234.494]
latlondict["L005"] = [265724.229, 805820.586]
latlondict["L006"] = [264921.21, 804658.21]
latlondict["L007"] = [264612.004, 804703.659]
latlondict["L008"] = [265725.604, 805330.092]
latlondict["LZ2"] = [271123.121, 804940.943]
latlondict["LZ25A"] = [264440, 804609]
latlondict["LZ30"] = [264749.097, 805136.341]
latlondict["LZ40"] = [265406.534, 804720.409]
latlondict["NCENTER"] = [270517.178, 804444.948]
latlondict["NES135"] = [270630.265, 804129.177]
latlondict["NES191"] = [271112.733, 804601.165]
latlondict["PALMOUT"] = [265956.61, 805633.18]
latlondict["PALMOUT1"] = [265057.718, 805511.613]
latlondict["PALMOUT2"] = [265057.718, 805335.318]
latlondict["PALMOUT3"] = [265133.956, 805208.596]
latlondict["PELBAY3"] = [264627.021, 804229.802]
latlondict["POLE3S"] = [264401.164, 805024.285]
latlondict["POLESOUT"] = [270217.513, 805506.746]
latlondict["POLESOUT1"] = [270132.487, 805356.74]
latlondict["POLESOUT2"] = [270033.282, 805249.81]
latlondict["POLESOUT3"] = [265936.299, 805159.735]
latlondict["RITTAE2"] = [264345.031, 804724.409]

In [3]:
Future_data = []
####Some station that I missed when I download data

In [4]:
Site_name = ["POLESOUT", "KISSR0.0", "LZ2", "S133", "TCNS228", "S135",
            "FEBIN", "MBOXSOU", "MH24000", "FEBOUT", "L005", "L008", "LZ40", "L004", "S308C",
            "PALMOUNT", "S169", "S236", "POLE3S", "RITTAE2", "LZ2FA", "L007", "PELBAY3", "L006", "LZ30"]
Lat = []
Lon = []
Begin_date = []
End_date = []
Total_measurements = []

In [13]:
def Clean_date(df):
    for index, value in enumerate(df["Collection_Date"]):
        df["Collection_Date"][index] = datetime.strptime(value, '%Y-%m-%d %H:%M:%S')        
    return df

In [14]:
for station in Site_name:
    data = pd.read_csv(station+".csv")
    #Transfer text in "Collection_Date" to datetime value:
    data = Clean_date(data)

    if station in latlondict:
        lat, lon = latlondict[station]
    else:
        lat, lon = None, None
        Future_data.append(station)

    Lat.append(lat)
    Lon.append(lon)
    
    if len(data) > 1:
        Begin_date.append(min(data["Collection_Date"]))
        End_date.append(max(data["Collection_Date"]))
    else:
        Begin_date.append(None)
        End_date.append(None)
        
    Total_measurements.append(len(data))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
summary = pd.DataFrame({"Site Name": Site_name, 
                        "Latitude (ddmmss.sss)": Lat, 
                        "Longtitude (ddmmss.sss)": Lon, 
                        "Begin date": Begin_date, 
                        "End date": End_date, 
                        "Total measurements": Total_measurements})

In [10]:
Station_list = ["POLESOUT", "KISSR0.0", "LZ2", "S133", "TCNS228", "S135",
                "FEBIN", "MBOXSOU", "MH24000", "FEBOUT", "L005", "L008", "LZ40", "L004", "S308C",
                "PALMOUNT", "S169", "S236", "POLE3S", "RITTAE2", "LZ2FA", "L007", "PELBAY3", "L006", "LZ30"]
Variable_list = ['NITRATE+NITRITE-N', 'NITRITE-N', 'AMMONIA-N', 'KJELDAHL NITROGEN, TOTAL', 'PHOSPHATE, ORTHO AS P',
                 'PHOSPHATE, TOTAL AS P', 'NITRATE-N', 'SILICA', 'CARBON, TOTAL ORGANIC', 'CARBON, DISSOLVED ORGANIC',
                 'TOTAL NITROGEN', 'PHOSPHATE, DISSOLVED AS P', 'KJELDAHL NITROGEN, DIS', 'CARBON, TOTAL', 
                 'CARBON, TOTAL INORGANIC', 'NITROGEN, TOTAL DISSOLVED',
                 'CHLOROPHYLL-A', 'PHEOPHYTIN', 'CHLOROPHYLL-A, CORRECTED', 
                 'CHLOROPHYLL-C', 'CAROTENOIDS', 'CHLOROPHYLL-B', 'CHLOROPHYLL-A(LC)', 
                 'PHEOPHYTIN-A(LC)', 'CHLOROPHYLL-B(LC)', 'RESP. PLANKTONIC']

In [24]:
station = "POLESOUT"
data = pd.read_csv(station+".csv")
data = Clean_date(data)
index_since_2000 = [True if x.year >= 2000 else False for x in data["Collection_Date"]]
data.loc[index_since_2000,:]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,Project Code,Station ID,Sample ID,First Trigger Date,Collection_Date,Sample Type New,Collection Method,Depth,Depth Unit,...,Filtration Date,Sample Type,QC Type,Discharge,Up/Down Stream,Weather Code,Program Type,NDEC,Sample Comments,Result Comments
4687,4687,YNRG,POLESOUT,P3378-9,NaN,2000-01-12 12:20:00,SAMP,G,0.0,NaN,...,NaN,0,NaN,0,0,0,MON,1.0,Bi-Weekly/Monthly / Hydrolab quit working - ch...,NaN
4688,4688,YNRG,POLESOUT,P3378-9,NaN,2000-01-12 12:20:00,SAMP,G,0.0,NaN,...,NaN,0,NaN,0,0,0,MON,1.0,Bi-Weekly/Monthly / Hydrolab quit working - ch...,NaN
4689,4689,YNRG,POLESOUT,P3378-9,NaN,2000-01-12 12:20:00,SAMP,G,0.0,NaN,...,NaN,0,NaN,0,0,0,MON,1.0,Bi-Weekly/Monthly / Hydrolab quit working - ch...,NaN
4690,4690,YNRG,POLESOUT,P3378-9,NaN,2000-01-12 12:20:00,SAMP,G,0.0,NaN,...,NaN,0,NaN,0,0,0,MON,0.0,Bi-Weekly/Monthly / Hydrolab quit working - ch...,NaN
4691,4691,YNRG,POLESOUT,P3378-9,NaN,2000-01-12 12:20:00,SAMP,G,0.0,NaN,...,NaN,0,NaN,0,0,0,MON,3.0,Bi-Weekly/Monthly / Hydrolab quit working - ch...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11181,11181,Y,POLESOUT,P117322-15,NaN,2020-06-23 13:03:00,SAMP,G,0.3,m,...,NaN,0,NaN,0,0,0,MON,NaN,No BGA observed. BGA Survey123 completed by AS...,NaN
11182,11182,Y,POLESOUT,P117322-15,NaN,2020-06-23 13:03:00,SAMP,G,0.3,m,...,NaN,0,NaN,0,0,0,MON,NaN,No BGA observed. BGA Survey123 completed by AS...,NaN
11183,11183,Y,POLESOUT,P117322-15,NaN,2020-06-23 13:03:00,SAMP,G,0.3,m,...,NaN,0,NaN,0,0,0,MON,NaN,No BGA observed. BGA Survey123 completed by AS...,NaN
11184,11184,Y,POLESOUT,P117322-15,NaN,2020-06-23 13:03:00,SAMP,G,0.3,m,...,NaN,0,NaN,0,0,0,MON,NaN,No BGA observed. BGA Survey123 completed by AS...,NaN
11185,11185,Y,POLESOUT,P117322-15,NaN,2020-06-23 13:03:00,SAMP,G,0.3,m,...,NaN,0,NaN,0,0,0,MON,NaN,No BGA observed. BGA Survey123 completed by AS...,NaN

In [37]:
#Column: Station
Station_array = []
#Column: Variable
Variable_array = []
#Column: Begin date
Begin_array = []
#Column: End date
End_array = []
#Column: Total measurements
Total_measurements_array = []
#Column: Measurments since 2000
Measurements_since_2000_array = []
#Column: Measurements in 2019:
Measurements_in_2019_array = []

for station in Station_list:
    #Request data from local folder:
    data = pd.read_csv(station+".csv")
    #Clean date data:
    data = Clean_date(data)
    
    for variable in Variable_list:
        data_for_variable = data.loc[data["Test Name"]==variable,:]
        
        #Add value to each column of the table:
        Station_array.append(station)
        
        Variable_array.append(variable)
        if len(data_for_variable) > 2:
            Begin_array.append(min(data_for_variable["Collection_Date"]))
            End_array.append(max(data_for_variable["Collection_Date"]))
        else:
            Begin_array.append(None)
            End_array.append(None)
            
        Total_measurements_array.append(len(data_for_variable))
        
        index_since_2000 = [True if x.year >= 2000 else False for x in data_for_variable["Collection_Date"]]
        Measurements_since_2000_array.append(len(data_for_variable.loc[index_since_2000,:]))
        
        index_in_2019 = [True if x.year == 2019 else False for x in data_for_variable["Collection_Date"]]
        Measurements_in_2019_array.append(len(data_for_variable.loc[index_in_2019,:]))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
Summary_table = pd.DataFrame({"Station": Station_array,
                             "Variable": Variable_array,
                             "Begin date": Begin_array,
                             "End date": End_array,
                             "Total measurements": Total_measurments_array,
                             "Measurements since 2000": Measurements_since_2000_array,
                             "Measurements in 2019": Measurments_in_2019_array})

,Station,Variable,Begin date,End date,Total measurements,Measurements since 2000,Measurements in 2019
0,POLESOUT,NITRATE+NITRITE-N,1988-06-27 13:00:00,2020-06-23 13:02:00,438,252,12
1,POLESOUT,NITRITE-N,1988-06-27 13:00:00,2020-06-23 13:02:00,440,253,12
2,POLESOUT,AMMONIA-N,1988-06-27 13:00:00,2020-06-23 13:02:00,438,252,12
3,POLESOUT,"KJELDAHL NITROGEN, TOTAL",1988-06-27 13:00:00,2014-05-14 10:43:00,363,175,0
4,POLESOUT,"PHOSPHATE, ORTHO AS P",1988-06-27 13:00:00,2020-06-23 13:02:00,440,253,12
...,...,...,...,...,...,...,...
645,LZ30,CHLOROPHYLL-B,1985-08-01 10:40:00,2011-04-19 11:04:00,344,149,0
646,LZ30,CHLOROPHYLL-A(LC),2010-10-21 11:32:00,2020-06-03 11:44:00,179,179,24
647,LZ30,PHEOPHYTIN-A(LC),2010-10-21 11:32:00,2020-06-03 11:44:00,179,179,24
648,LZ30,CHLOROPHYLL-B(LC),2010-10-21 11:32:00,2016-04-06 11:06:00,86,86,0
649,LZ30,RESP. PLANKTONIC,NaT,NaT,0,0,0